<div style="text-align:center; font-size:24px; font-weight:bold;">{{  page.title  }}</div>
<hr>
<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div> <br>
<div>{{ page.author }}</div>
<div>{{ page.published_at }}</div>